STRIPE_API_KEY=sk_test_your_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_secret_here

DB_URL=jdbc:postgresql://pd-rds-payment-euw2.cvsswam0a2u9.eu-west-2.rds.amazonaws.com:5432/pdpaymentdb
DB_USERNAME=pdpaymentadmin
DB_PASSWORD=<password>

KINESIS_ENDPOINT=https://kinesis.eu-west-2.amazonaws.com
AWS_REGION=eu-west-2
KINESIS_STREAM_NAME=pd-payment-kinesis-euw2
